<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charser="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <link href="{% static 'css/font.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    {% block style %}{% endblock %}
</head>

<body>
    {% include 'resume/header.html' %}
    {% block content %}{% endblock %}

    <script src="{% static 'dist/jquery-3.2.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
    <script defer src="{% static 'dist/js/fontawesome-all.js' %}"></script>
    {% block script %}{% endblock %}
</body>

</html>