<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111728662-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-111728662-1');
    </script>

    <meta charser="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="포트폴리오"/>
	<meta property="og:description" content="개발자로서의 이력서"/>
	<meta property="og:image" content="{% static 'img/portfolio.png' %}"/>

    <title>{% block title %}{% endblock %}</title>

    <link href="{% static 'css/font.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    {% block style %}{% endblock %}
</head>

<body>
    {% include 'resume/header.html' %}
    {% block content %}{% endblock %}

    <script src="{% static 'dist/jquery-3.2.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
    <script defer src="{% static 'dist/js/fontawesome-all.js' %}"></script>
    {% block script %}{% endblock %}
</body>

</html>