{% extends 'resume/base.html' %}
{% load staticfiles %}

{% block title %}장지용{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/project.css' %}" />
{% endblock %}

{% block content %}

<div id="wrap">
    <div id="projects">
        <div class="each-project">
            <div class="project-info">
            </div>
            <div class="info">
                first project
            </div>
        </div>
        <div class="each-project">
            <div class="project-info">
            </div>
            <div class="info">
                second project
            </div>
        </div>
    </div>
</div>
    

{% endblock %}