<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>이력서-장지용</title>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:title" content="이력서"/>
	<meta property="og:description" content="장지용의 이력서"/>

    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/resume.css' %}" />
</head>
<body>
    <div class="resume-wrap">
        <div class="resume-box">
            <div class="personal">
                <div class="photo">
                    <img src="{% static 'img/profile.png' %}" align="middle" />
                </div>
                <div class="name">
                    <div class="real-name">
                        장지용
                    </div>
                    <div class="prof">
                        Django 개발자
                    </div>
                </div>
                <div class="contact">
                    <div class="con">
                        <span class="fas fa-phone"></span>
                        &nbsp;&nbsp;010 9205 9417
                    </div>
                    <div class="con">
                        <span class="fab fa-google-plus-g"></span>&nbsp;
                        <a href="https://plus.google.com/116590924524324713794" target="_blank">
                            wldyd9186@gmail.com</a>
                    </div>
                    <div class="con">
                        <span class="fab fa-github"></span>&nbsp;&nbsp;
                        <a href="https://github.com/JamieJang/" target="_blank">
                            github.com/JamieJang</a>
                    </div>
                    <div class="con">
                        <span class="fas fa-home"></span>&nbsp;&nbsp;
                        <a href="http://www.jamiejang.me/" target="_blank">
                            jamiejang.me</a>
                    </div>
                </div>
            </div>
            <div class="edu">
                <h2>학력</h2>
                <h4>대학교</h4>
                <p>서경대학교 (2010.03 ~ 2017.08) - 러시아어전공</p>
                <h4>학원</h4>
                <p>코리아 정보보안아카데미 ( 2016.12 ~ 2017.01 ) - 기초 파이썬과정</p>                
            </div>
            <div class="tech">
                <h2>기술</h2>
                <h4>가능함</h4>
                <p>Python, Django, HTML5/CSS3/JS, Jquery, Bootstrap, React, Git, AWS( EB, S3, RDS )</p>
                <h4>경험해봄</h4>
                <p>nginx,redis,postgresql,mysql, Vue.js</p>
                <h4>흥미있음</h4>
                <p>Docker</p>
            </div>
            <div class="project">
                <h2>개인 프로젝트 
                    <a href="#" target="_blank" style="font-size:14px">(프로젝트 리스트)</a>
                </h2>
            </div>
            <div class="cv">
                <h2>자기소개</h2>
                <p style="line-height: 2">저는 프로그래밍을 전공하지 않았고 개발기간도 길다고 볼 수 없습니다. 
                    러시아 유학기간 중, 외국인 친구를 통해서 우연하게 접하게 된 프로그래밍에 흥미를 가지기 시작했습니다. 
                    남들보다 늦은 시작이었지만, 그 누구보다 큰 열정을 가지고 개발자의 길로 뛰어들었습니다. 
                    대부분의 기술들을 독학으로 배웠고, 그로 인해서 새로운 기술에 대한 알맞는 정보를 찾는 방법과 빠른 습득능력을 키우게 되었습니다. 
                    빠르고 편리한 웹 서비스를 만드는 것을 지향하고 있어서, 많은 웹 사이트들을 돌아다니며 새로운 기술을 찾아보는 것을 좋아합니다. 
                    그리고 그 기술이 어떤 방식으로 이루어졌는지 이해하고 실습해보는것도 좋아합니다. 
                    이러한 부분들을 실무에서 새로운 기술을 사용해야 할 때 큰 도움이 될 것 입니다. 
                    저는 남들보다 늦게 개발자의 길로 들어섰지만, 곧 그들 만큼, 혹은 더 큰 능력을 보여 줄거라 생각합니다.</p>
            </div>
        </div>
    </div>

    <script src="{% static 'dist/jquery-3.2.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script defer src="{% static 'dist/js/fontawesome-all.js' %}"></script>

    <script>
        $(document).ready(function(){
            var w = $(".personal").height()*0.85;
            $(".photo img").height(w);
        });
        $(document).ready(function(){
            var w = $(window).width();
            if(w <= 768){
                $(".photo").css("display","none");
            }else{
                $(".photo").css("display","initial");
            }
        })
        $(window).resize(function(){
            var w = $(window).width();
            if(w <= 768){
                $(".photo").css("display","none");
            }else{
                $(".photo").css("display","initial");
            }
        });
    </script>

<body>
</html>
