#content{
    height:70%;
    width: 98%;
    margin: auto;
    display: flex;
    
    justify-content: center;
    align-items: baseline;
    
}

#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 40px;
    word-break: keep-all;
    padding: 5%;

    box-shadow: 0 2px 5px 0 #709874;
}
@media screen and (max-width:767px){
    #about{
        width: 95%;
        padding: 5%;
    }
}

.name{
    font-size: 38px;
    color: rgba(0,0,0,0.6);
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.sub-name{
    font-size: 18px;
    margin-left: 1rem;
}
.info-detail{
    font-size: 24px;
    font-weight: 500;
}
.resume-link{
    font-size: 18px;
    color: #005b96;
    
}
.resume-link:hover{
    text-decoration: none;
    font-weight: 800;
}
.resume-link:hover::after{
    content:"보기";
}