container_commands:
  01_migrate:
    command: "python3 manage.py migrate"
  02_chmod_sqlite:
    command: "chmod 666 db.sqlite3"
  03_create_superuser:
    command: "python3 create_superuser.py"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: portfolio.settings.prod
  aws:elasticbeanstalk:container:python:
    WSGIPath: portfolio/wsgi.py